* {
  font-family: 'Courier New', Courier, monospace;
}

.recipes {
  width: 400px;
  margin: 16px auto;
  padding: 8px;
}

.list{
  background: lavender;
  padding: 2px 4px;
}

.title {
  text-align: center;
  color: white;
  background-color: purple;
}

.recipe {
  font-size: 18px;
}